my-lms-app/node_modules/**

my-lms-app/node_modules/.cache/.eslintcache
my-lms-app/node_modules/.cache/.eslintcache
my-lms-app/node_modules/.cache/default-development/6.pack
my-lms-app/node_modules/.cache/default-development/7.pack
my-lms-app/node_modules/.cache/default-development/8.pack
my-lms-app/node_modules/.cache/default-development/index.pack
my-lms-app/node_modules/.cache/default-development/index.pack.old
