.EnrollmentList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}