nav {
    background-color: #003366; /* Dark blue */
    padding: 10px;
    display: flex;
    justify-content: space-around; /* Even spacing */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
}

nav a:hover {
    text-decoration: underline;
}

img {
    width: 80px;
    height: 80px;
}

div.header {
    background-color: #004080; /* Deep blue */
    color: white;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align logo left, text right */
}